@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Cairo&display=swap");

.page {
  display: flex;
  height: 70vh;
  width: 100vw;
  background: red;
  color: white;
}

.bio {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.text {
  width: 80%;
  text-align: center;
}

.about {
  align-self: center;
  text-decoration: underline;
}
