@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Cairo&display=swap");

body {
  margin: 0;
  padding: 0;
}

html {
  background-color: red;
  color: white;
  font-family: "Cairo", sans-serif;
}
