.image {
  width: 350px;
  height: 350px;
  border-radius: 11px;
  position: absolute;
}

.title {
  font-size: 1.6rem;
}

.text {
  font-size: 0.6em;
  padding-right: 15px;
  width: 60%;
}

.projectDisplay {
  width: 350px;
  height: 350px;
  padding-left: 5%;
  font-size: 1.5em;
  text-decoration: none;
  background-color: whitesmoke;
  border-radius: 7px;
  display: flex;
  margin-bottom: 10px;
}
